.info{
    background: black;
    color: aliceblue;
    min-height: 50px;
}
.text_info{
    color: aliceblue;
    background: black;
    font-size: 18px;
}
.dropdownContent {
    color: aliceblue;
    top:0;
    background: black;
}
.indigo_text{

}
.indigo{

}
.breadcrumb{

}
.dows{

}
.nav_wrapper{

}
.btn_show_on{

}