.sidebar{
    background: linear-gradient(cadetblue, deepskyblue);
    /*flex-flow: column wrap;*/
    float: right;
    min-height: 100%;
}
.text{

}
.main{
    display: flex;
    flex-flow: column wrap;
}
.content{
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 18px;

}
.content li{
    padding: 20px;
}
.content li:hover{
   background: blueviolet;
}

.logo{
    font-size: 30px;
    font-family: "Denk One";
    text-decoration: none !important;
    color: black;
}
.section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.bars{
    display: flex;
    font-size: 25px;
    margin-left: 25px;
}

.actions{

}