.info{
    width: 100%;
    min-width: 10px;
    min-height: 50px;
    background: deepskyblue;
}


.sidebar{
    background: linear-gradient(cadetblue, deepskyblue);
    height: 100%;
    min-height: 60rem;
}

.main{
    display: flex;
}
.content{
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 18px;
}
.content li{
    margin-bottom: 20px;
}

.logo{
    font-size: 30px;
    font-family: "Denk One";
    text-decoration: none !important;
    color: black;
}
.section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.bars{
    display: flex;
    font-size: 25px;
    margin-left: 25px;
}

.actions{

}